*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper{
    height: 100vh;
    display: block;
    background-color: #18476b;
}
.memory_card.flip.disappear{
    transform: scale(0.01);
    transition: transform 0.5s;
}
/* when I set the value to 0, the card disappeared without animations, so I decided to do it in 2 steps to make it look beautiful */
.memory_card.disappear{
    transform: scale(0);
}
.memory_card{
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    transform: scale(1);
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.memory_card.flip{
    transform: rotateY(180deg);
}


.Memory_Game{
    width: 520px;
    height: 390px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    perspective: 1000px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: teal;
    }


.front_face, .back_face{
width: 100%;
padding: 5px;
position: absolute;
border-radius: 5px;
background-color: #33209e;
backface-visibility: hidden;
}
.front_face{
    transform: rotateY(180deg);
}
.player1,
.player2{
background-color: grey;
border-radius: 10px;
}
.player1.selected,
.player2.selected{
    background-color: green;
}
.players{
    height: auto;
    width: 540px;
}
.player1{
    height: auto;
    width:auto;
    margin-left: 15px;
    margin-top: 10px;
}
.player2{
    height: auto;
    width:auto;
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.button{
    height: 70px;
    width: 158px;
    position: absolute;
    margin-left: calc(50% - 75px);
    margin-top: 5px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.buttons{
    height: 150px;
    width: 540px;
    display: flex;
    margin:auto;
    position:relative;
    top: 30px;
    background-color: rgb(11 10 90);
    border-radius: 10px;
}
.back_button,
.front_button{
    backface-visibility: hidden;
    position: absolute;
}
.back_button{
    transform: rotateX(180deg);
}

.button.flip{
    transform: rotateX(180deg);
}

.score{
    width: 40%;
    height: calc(40%);
    margin: auto;
    margin-left: auto;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.score1,
.score2{
    width: auto;
    height: auto;
    position: relative;
    margin: auto;
    font-size: 30px;
}

.end_game{
    transform: scale(0);
    width: 96%;
    height: 25%;
    display: block;
    position: absolute;
    margin: 0;
    margin-top: 25%;
    text-align: center;
    font-size: 500%;
}
.end_game.end{
    transform: scale(1);
    background-color: #07d100;
    transition: transform 0.5s;
    border-radius: 10px;
}

.button.flip.double{
    transform: rotateY(90deg);
}